# pyproject.toml
# Python project configuration.

[build-system]
requires = ["poetry-core>=1.3.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "buildarr"
version = "0.3.0"
description = "Constructs and configures Arr PVR stacks"
authors = ["Callum Dickinson <callum.dickinson.nz@gmail.com>"]
license = "GPL-3.0-or-later"
homepage = "https://buildarr.github.io"
repository = "https://github.com/buildarr/buildarr"
documentation = "https://buildarr.github.io"
keywords = ["buildarr", "sonarr", "radarr", "prowlarr"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Framework :: Pydantic",
    "Intended Audience :: End Users/Desktop",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: System :: Systems Administration",
    "Typing :: Typed",
]
readme = "README.md"
packages = [{include = "buildarr"}]

[tool.poetry.scripts]
buildarr = "buildarr.cli.main:main"

[tool.poetry.plugins."buildarr.plugins"]
"dummy" = "buildarr.plugins.dummy.plugin:DummyPlugin"
"sonarr" = "buildarr.plugins.sonarr.plugin:SonarrPlugin"

[tool.poetry.dependencies]
python = "^3.8"
pyyaml = "^6.0"
pydantic = {extras = ["email"], version = "^1.10.2"}
typing-extensions = "^4.4.0"
stevedore = "^4.1.1"
requests = "^2.28.1"
json5 = "^0.9.10"
click = "^8.1.3"
click-params = "^0.4.0"
watchdog = "^2.2.0"
schedule = "^1.1.0"
importlib-metadata = "^6.0.0"

[tool.poetry.group.dev.dependencies]
black = "23.1.0"
mypy = "1.1.1"
types-pyyaml = "6.0.12.8"
types-requests = "2.28.11.15"
mkdocs = "1.4.2"
mkdocstrings = {extras = ["python"], version = "0.20.0"}
flask = "2.2.3"
werkzeug = "2.2.3"
ruff = "0.0.255"

[tool.ruff]
fix = true
format = "grouped"
target-version = "py38"
line-length = 100
select = [
    "A",
    "B",
    "BLE",
    "E",
    "F",
    "G",
    "I",
    "INP",
    "N",
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    "PTH",
    "RUF",
    "S",
    "T10",
    "T20",
    "W",
    "YTT",
]
extend-select = ["COM812", "COM818", "UP009"]
extend-ignore = ["A003", "B023", "N805", "N806", "PLR0911", "PLR0912", "PLR0913", "PLR0915"]

[tool.ruff.isort]
lines-between-types = 1
combine-as-imports = true
required-imports = ["from __future__ import annotations"]

[tool.black]
line_length = 100

[tool.mypy]
python_version = "3.8"
pretty = true
