# pyproject.toml
# Python project configuration.

[build-system]
requires = ["poetry-core>=1.3.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "buildarr"
version = "0.5.0"
description = "Constructs and configures Arr PVR stacks"
authors = ["Callum Dickinson <callum.dickinson.nz@gmail.com>"]
license = "GPL-3.0-or-later"
homepage = "https://buildarr.github.io"
repository = "https://github.com/buildarr/buildarr"
documentation = "https://buildarr.github.io"
keywords = ["buildarr", "sonarr", "radarr", "prowlarr"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Pydantic",
    "Intended Audience :: End Users/Desktop",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: System :: Systems Administration",
    "Typing :: Typed",
]
readme = "README.md"
packages = [{include = "buildarr"}]

[tool.poetry.scripts]
buildarr = "buildarr.cli.main:main"

[tool.poetry.plugins."buildarr.plugins"]
"dummy" = "buildarr.plugins.dummy.plugin:DummyPlugin"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
pyyaml = ">=6.0"
pydantic = {extras = ["email"], version = ">=1.10.0,<2.0.0"}
typing-extensions = ">=4.0.1"
stevedore = ">=4.0.0"
requests = ">=2.28.0"
json5 = ">=0.9.7"
click = ">=8.0.4"
click-params = ">=0.4.1"
watchdog = ">=3.0.0"
schedule = ">=1.1.0"
importlib-metadata = ">=4.6.0"

[tool.poetry.group.dev.dependencies]
black = "23.3.0"
mypy = "1.2.0"
types-pyyaml = "6.0.12.9"
types-requests = "2.28.11.17"
mkdocs = "1.4.2"
mkdocstrings = {extras = ["python"], version = "0.21.2"}
flask = "2.2.3"
werkzeug = "2.2.3"
ruff = "0.0.261"

[tool.ruff]
fix = true
format = "grouped"
target-version = "py38"
line-length = 100
select = [
    "A",
    "B",
    "BLE",
    "E",
    "F",
    "G",
    "I",
    "INP",
    "N",
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    "PTH",
    "RUF",
    "S",
    "T10",
    "T20",
    "W",
    "YTT",
]
extend-select = ["COM812", "COM818", "UP009"]
extend-ignore = ["A003", "B023", "N805", "N806", "PLR0911", "PLR0912", "PLR0913", "PLR0915"]

[tool.ruff.per-file-ignores]
"buildarr/cli/main.py" = ["F401"]

[tool.ruff.isort]
lines-between-types = 1
combine-as-imports = true
required-imports = ["from __future__ import annotations"]

[tool.black]
line_length = 100

[tool.mypy]
python_version = "3.8"
pretty = true
